<div class="app-page-content mdl-color--white mdl-shadow-2dp mdl-cell--12">

<h1 class="mdl-typography--display-3">
          List of sensors
</h1>

  <div class="mdl-cell--12-col">
      <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent mdl-js-ripple-effect"(click)="refreshSensors()">
        Scan for sensors</button>
  </div>

  <hr>
          <app-sensor-filter #filterCmp (filterChanges)="refreshSensors()"></app-sensor-filter>
  <hr>

    <app-sensor-list [sensors]="sensors | filtersensor: 'humidity'"></app-sensor-list>

</div>
